.user-orders-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 40vh;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.order-detail {
    margin: 5px 0;
}