.product-item {
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 20px 0;
    width: calc(18% - 20px);
    padding: 30px;
    position: relative;
    flex-direction: column;
    display: inline-flex;
    /* Remove or set height to auto for dynamic height */
    height: auto;
}


.product-image {
    width: 100%;
    height: 65%;

    /* Responsive styles for smaller screens */
    @media screen and (max-width: 768px) {
        height: 50%;
    }
}

.product-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 10px;
    flex-grow: 1;
}

.product-name {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #C00000;

    /* Responsive styles for smaller screens */
    @media screen and (max-width: 768px) {
        font-size: 1.2em;
    }
}

.product-price {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 16px;

    /* Responsive styles for smaller screens */
    @media screen and (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 8px;
        left: 12px;
        position: relative;
    }
}

.details-link {
    background-color: red;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    align-self: flex-end;
    position: relative;
    top: 21px;
    left: 20px;

    /* Responsive styles for smaller screens */
    @media screen and (max-width: 768px) {
        font-size: 0.9em;
        padding: 6px 12px;
    }
}

.characteristics {
    list-style-type: disc;
    font-size: 24px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;

    /* Responsive styles for smaller screens */
    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 8px;
    }
}
