.user-liked-products-content-wrapper {
    width: 90%;
    margin: 0 auto;
}

.user-liked-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.product-card {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    flex: 0;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.productliked-image {
    width: 15em;
    height: 15em;
}

.productliked-details {
    display: flex;
    flex-direction: column;
    width: 60em;
    padding: 10px;
    flex-wrap: wrap;
    flex-grow: 0;
}

.details-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
}


.productliked-name {
    color: #C00000;
    font-size: 25px;
}

.product-price-container {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.label {
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.productliked-price {
    align-self: flex-end;
    color: #C00000;
    font-size: 20px;
}


.product-detailsPage-link {
    margin-top: auto;
    text-decoration: none;
    color: #C00000;
    font-size: 18px;
}

.productliked-actions {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    /* flex: 1; */
    width: 20%;
}

.productliked-unlike {
    align-self: flex-end;
    font-size: 30px;
    color: #0f0f0f;
}

.productliked-add-to-cart {
    background-color: #C00000;
    color: #fff;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
    width: 100%;
    font-size: 16px;
    align-self: flex-end;
    font-weight: 700;
}

.productliked-add-to-cart:hover {
    background-color: #c54646;
}

@media (max-width: 768px) {
    .product-card {
        width: 45%;
        /* Adjust this value for smaller screens */
    }
}

@media (max-width: 576px) {
    .product-card {
        width: 100%;
        /* Display one product per row on smaller screens */
    }
}