.navBar {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    font-weight: bold;
    bottom: -35px;
    height: auto;
    /* Center the text content within the navBar */
}

.navBar-list {
    list-style-type: none;
    margin: 0;
    margin: auto;
    /* Center the ul element */
    display: inline-block;
    /* Optional: Adjust display property as needed */
}

.nav-list li {
    display: inline-block;
    padding: 10px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;

}

.nav-list li a:hover {
    background-color: #000000;
}