.body {
    background-color: #ffffff;
}

.product-details-page-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    flex-shrink: 0;
    margin-left: 100px;
    background-color: #ffffff;
}


.like-button {
    font-size: 2em;
    color: #aeaeae;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.like-button.liked {
    color: #C00000;
}

.product-images {
    flex: 1;
    margin-right: 80px;
}

.product-images img {
    width: 80%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    object-fit: contain;
}

.main-image-container {
    width: 40em;
    height: 40em;
    overflow: hidden;
}

#main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.image-slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* Ensure that only the visible images are shown */
    transition: transform 0.5s ease;
    /* Add a transition effect to the transform property */
}

.image-slider img {
    max-width: 100px;
    height: 10em;
    cursor: pointer;
}

.product-details-detailsPage {
    flex: 1;
    padding: 15px;
    font-size: 22px;
}

.characteristics {
    margin-top: 15px;
}

.characteristics h2 {
    margin-left: -10px;
    font-size: 24px;
}

.characteristics p {
    font-family: Montserrat-Light;
    margin-left: 3%;
    margin-top: -5px;
}

.product-name-detailsPage {
    font-size: 32px;
    color: #C00000;
    margin-right: 10%;
}

.product-name-detailsPage:hover {
    cursor: none;
    color: #C00000;
}

.price-container {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.price {
    color: #C00000;
    font-size: 28px;
    margin-right: 5%;
}

.buy-button {
    font-weight: bold;
    font-size: 24px;
    background-color: #C00000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.fa-solid {
    font-size: 2em;
    color: #aeaeae;
    -webkit-text-stroke: 2px #aeaeae;
}

.fa-greater-than {
    margin-top: auto;
    margin-bottom: auto;
}

.fa-less-than {
    margin-top: auto;
    margin-bottom: auto;
}

.full-characteristics {
    margin-top: 20px;
}

.full-characteristics h2 {
    color: #333;
    text-align: center;
}

.full-characteristics-link:link,
.full-characteristics-link:visited {
    color: #C00000;
    text-decoration: none;
}

.characteristics p::before {
    content: '\f00c';
    font-family: 'Font Awesome 6 Free';
    color: #C00000;
    margin-right: 10px;
    font-weight: 1000;
    font-size: 1em;
    -webkit-text-stroke: 2px #C00000;
}