@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(fonts/Montserrat-Light.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --container-max-width: 1366px;
}


body {
  font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  font-size: 14px;
}

.topOffers {
  transform: rotate(-8.73deg);
  margin-top: 1em;
  color: rgb(0, 0, 0);
  font-size: 3.5em;
  margin-left: 0.7em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 7em;
}
