body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8f8;
}

.topOffers {
  transform: rotate(-4.73deg);
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin-left: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1:hover {
  color: red;
  cursor: pointer;
}