.under-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 173px;
    max-width: var(--container-max-width);
    margin: 0 auto;
    overflow: hidden;
}

.home-page-under-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-inline-container {
    display: flex;
    justify-content: center; /* Center images horizontally */
    margin-top: 20px; /* Space above the container */
}

.image-inline {
    width: 674px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Space between images */
    height: 357px;
}

/* Additional styles to enhance the look */
.image-inline-container img {
    margin-bottom: 40px;
}

.first-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    overflow: hidden;
}

.home-page-first-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

@media (max-width: 768px) {
    .under-image-container {
        width: 100%;
        padding: 0 10px;
    }

    .home-page-under-image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
    .first-image-container {
        width: 100%;
        padding: 0 10px;
    }

    .home-page-first-image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }

    .arrow {
        font-size: 18px;
        padding: 8px;
        top: 45%;
    }

    .left-arrow {
        left: 5px;
    }

    .right-arrow {
        right: 5px;
    }
}