.sticky-top {
    position: sticky;
    top: 0;
    background-color: #C00000;
    /* Add a background color as needed */
    z-index: 100;
    /* Adjust z-index as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C00000;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

nav #home {
    float: left;
    font-weight: bold;
}

#userName a {
    font-size: 20px;
}

#userName:hover {
    background-color: #C00000;
}


nav li:hover {
    background-color: #111;
}

nav #home:hover {
    background-color: transparent;
}