.sticky-top {
    position: sticky;
    top: 0;
    background-color: #C00000;
    /* Add a background color as needed */
    z-index: 100;
    margin-bottom: 1em;
}

.navbar-element-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #C00000;
}

.navbar-right-side {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10px;
    justify-content: space-between;
}

.navbar-right-side a {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 28px;
    align-self: center;
    align-items: center;
}

.home {
    float: left;
    font-weight: 600;
    margin-left: 1em;
}

.home a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 32px;
}

.category-menu {
    margin-left: 3.5em;
    display: flex;
}

.category-menu-dropdown {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 28px;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.category-menu-text {
    margin-left: 0.5em;
}

.search-bar-section {
    margin: 0 auto;
}

.search-bar-section form input {
    width: 34em;
    height: 2.2em;
    padding: 10px;
    border-radius: 5px;
}

.search-bar-section form input::placeholder {
    font-size: 16px;
}


.category-menu-content {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #C00000;
    padding: 0 8px;
    z-index: 1000;
    height: var(--dropdown-menu-height);

    /* Ensure it's above other content */
}

.category-menu-content a {
    display: block;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0.7em 0.1em;
}

.category-menu-content a:hover {
    background-color: #c82727;

}

.category-periphery-menu-content {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #C00000;
    padding: 0 8px;
    z-index: 1000;
    margin-left: 150px;
    height: var(--dropdown-menu-height);
    /* Ensure it's above other content */
}

.category-periphery-menu-content a {
    display: block;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0.7em 0.1em;
}

.category-periphery-menu-content a:hover {
    background-color: #c82727;

}

.user-menu {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 28px;
    align-self: center;
    align-items: center;
}

.user-menu-icon {
    cursor: pointer;
}

.user-dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 2.5em;
    background-color: #C00000;
    padding: 0 8px;
    z-index: 1000;
}

.user-dropdown-menu a {
    display: block;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0.7em 0.1em;
}

.user-dropdown-menu a:hover {
    background-color: #c82727;

}


@media (max-width: 768px) {
    .navbar-element-container {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .home {
        margin-left: 0;
        margin-bottom: 5px; 
        font-size: 24px; 
        text-align: center;
    }

    .category-menu {
        margin-left: 0;
        margin-bottom: 5px;
        text-align: center;
    }

    .category-menu-dropdown {
        font-size: 24px;
    }

    .search-bar-section {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .search-bar-section form input {
        width: 90%;
        max-width: 300px;
        padding: 5px;
    }

    .navbar-right-side {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        margin-top: 5px;
    }

    .navbar-right-side a {
        padding: 5px;
        font-size: 24px;
    }

    .user-menu {
        padding: 5px;
        font-size: 24px;
    }

    .user-dropdown-menu {
        right: 1em;
    }

    .category-menu-content, .category-periphery-menu-content {
        position: relative;
        width: 100%;
        margin: 0;
    }
}    