.cart-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.item-container-buy-wrapper {
    display: flex;
}

.item-container {
    width: 75%;
    margin-top: 1em;
}

.cart-title {
    color: #000000;
    font-size: 25px;
}

.cart-items-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.product-card {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    flex: 0;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cart-product-name {
    color: #C00000;
    font-size: 25px;
}

.cart-product-image {
    width: 15em;
    height: 15em;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-grow: 0;
}

.cart-productDetails-link {
    margin-top: auto;
    text-decoration: none;
    color: #C00000;
    font-size: 18px;
}

.cart-buttons-container {
    display: flex;
    flex-direction: column;
}

.quantity-manipulation-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
    border: 2px solid #ccc;
    padding: 0.5em 1em;
}

.quantity-button,
.cart-product-quantity {
    margin-right: 0.8em;
}

.quantity-button {
    cursor: pointer;
}

.cart-product-quantity {
    margin-top: auto;
    padding: 10px;
}

.cart-product-price {
    color: #C00000;
}

.cart-delete-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    align-self: flex-end;
}

.buy-section {
    width: 23em;
    height: auto;
    margin-top: 1em;
    margin-left: auto;
}

.price-calculation-section {
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.calculation-all-products {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30em;
}

.calculation-all-products::-webkit-scrollbar {
    width: 15px;
}

.calculation-all-products::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
}

.calculation-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding: 0 3.8em;
}

.calculation-item {
    display: flex;
}

.calculation-item-image {
    width: 10em;
    height: 10em;
}

.calculation-item-price {
    align-self: center;
    font-size: 18px;
    color: #C00000;
    margin-left: 0.5em;
}

.and-icon {
    font-size: 3em;
    margin-top: 14px;
}

.shipping-fee-container {
    display: flex;
    align-items: center;
}

.shipping-fee {
    margin-left: 0.8em;
    font-size: 18px;
    color: #C00000;
}

.divider-container {
    width: 15em;
    height: 3em;
}


.total-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.total-price-label {
    margin-bottom: 0.2em;
}

.total-price {
    font-size: 22px;
}


.purchase-button {
    display: inline-block;
    padding: 10px;
    width: 6em;
    margin-bottom: 3em;
    background-color: #C00000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}


@media (max-width: 1024px) {
    .item-container-buy-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .item-container {
        width: 100%;
        margin-top: 1em;
    }

    .buy-section {
        width: 100%;
        margin-top: 1em;
        margin-left: 0;
    }

    .cart-buttons-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1em;
    }

    .cart-delete-button {
        align-self: normal
    }

}


@media (max-width: 768px) {
    .cart-container {
        max-width: 100%;
        padding: 0 1em;
    }

    .cart-title {
        font-size: 22px;
    }

    .cart-product-name {
        font-size: 22px;
    }

    .cart-product-image {
        width: 10em;
        height: 10em;
    }

    .cart-item-details {
        padding: 10px;
        width: 100%;
    }

    .cart-productDetails-link {
        font-size: 16px;
    }

    .quantity-manipulation-container {
        padding: 0.5em 0.5em;
        font-size: 18px;
    }

    .cart-product-quantity {
        padding: 5px;
    }

    .buy-section {
        width: 100%;
    }

    .price-calculation-section {
        width: 100%;
        padding: 1em;
    }

    .calculation-item-image {
        width: 8em;
        height: 8em;
    }

    .calculation-item-price {
        font-size: 16px;
    }

    .shipping-fee {
        font-size: 16px;
    }

    .total-price {
        font-size: 20px;
    }

    .purchase-button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cart-title {
        font-size: 20px;
    }

    .cart-product-name {
        font-size: 20px;
    }

    .cart-product-image {
        width: 8em;
        height: 8em;
    }

    .cart-productDetails-link {
        font-size: 14px;
    }

    .quantity-manipulation-container {
        padding: 0.5em 0.3em;
        font-size: 16px;
    }

    .cart-product-quantity {
        padding: 5px;
    }

    .buy-section {
        width: 100%;
    }

    .price-calculation-section {
        width: 100%;
        padding: 0.5em;
    }

    .calculation-item-image {
        width: 6em;
        height: 6em;
    }

    .calculation-item-price {
        font-size: 14px;
    }

    .shipping-fee {
        font-size: 14px;
    }

    .total-price {
        font-size: 18px;
    }

    .purchase-button {
        width: 100%;
        padding: 0.5em;
    }
}