.cart {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    height: 120px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.item-details {
    flex-grow: 1;
}

.item-details p {
    margin: 0;
}

.btnCartDetails {
    background-color: #C00000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.btnCartDetails:hover {
    background-color: #45a049;
}