.checkout-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}

.checkout-container h2 {
    color: #333;
    font-size: 35px;
}

.checkout-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.checkout-form-group label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #555;
    text-align: start;
}

.checkout-form-group input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.checkout-form-group button {
    background-color: #C00000;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 26px;
    width: 80%;
    transition: background-color 0.3s;
}

.form-groups-container {
    display: flex;
    justify-content: space-evenly;
}

.first-checkout-group,
.second-checkout-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 300px; 
}


.phone-input-container {
    position: relative;
    display: flex;
    flex-direction: column
}

.PhoneInputCountrySelect {
    margin-bottom: 1em;
}

.PhoneInputCountryIconImg {
   display: none;
}


