.computer-products-page-container {
    display: flex;
}
#pathFilters {
    font-size: 17px;
    color: #787474;
    margin: 30px 0px 0px 70px;
}
.h1-element-style {
    color: rgb(34, 33, 33);
}
.item-list {
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: auto;
    width: 100%;
}

@media (max-width: 1024px) {
    .computer-products-page-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .computer-products-page-container {
        padding: 0 15px;
    }

    .item-list {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .computer-products-page-container {
        padding: 0 10px;
    }
}
