.computer-products-page-container {
    display: flex;
    justify-content: space-between;
}

.item-list {
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: auto;
}