.first-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    overflow: hidden;
}

.home-page-first-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


@media (max-width: 768px) {
    .first-image-container {
        width: 100%;
        padding: 0 10px; 
    }

    .home-page-first-image {
        width: 100%; 
        max-height: 200px; 
        object-fit: cover; 
    }

    .arrow {
        font-size: 18px; 
        padding: 8px; 
        top: 45%;
    }

    .left-arrow {
        left: 5px;
    }

    .right-arrow {
        right: 5px;
    }
}
