.filters-container {
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 20px;
    margin: 0em 2em 2em 4em;
    width: 20%;
}
.btn-computer-filters {
    background-color: #C00000;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
}
.filter-text-style {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    font-size: 1.5em;
}
.range_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sliders_control {
    position: relative;
    min-height: 40px;
}
.btn-computer-filters-div {
    display: flex;
    justify-content: center;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 100%;
    position: absolute;
    background-color: #C00000;
    pointer-events: none;
    top: 0;
    z-index: 0; 
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px; 
    height: 24px;
    background-color: #000000;
    border: 1px solid #C6C6C6;
    cursor: pointer;
    z-index: 1;
}

input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px; 
    background-color: #000000;
    border: 1px solid #C6C6C6;
    cursor: pointer;
    z-index: 1;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

#fromSlider::-webkit-slider-thumb {
    z-index: 10000;
    position: relative; /* Ensure the thumb is positioned relative to the track */
    top: 4px; /* Adjust the position to align with the other thumb */
}