.custom-footer {
    color: white;
    margin-top: 1em;
}

.custom-footer-contact-content {
    padding: 25px 10px;
    background-color: #C00000;
    display: flex;
    justify-content: center;
}

.custom-contact-form {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 2em;
}

.custom-name-email-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 2.5em;
}

.custom-message-container {
    margin-bottom: 0 !important;
    margin-right: 2em;
    width: 100%;
}

.custom-footer h2 {
    margin-bottom: 10px;
}

.custom-form-group {
    margin-bottom: 15px;
}

.custom-form-group label {
    display: block;
    margin-bottom: 5px;
}

.custom-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-textarea {
    width: 100%;
    height: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-submit-contact-container {
    align-self: flex-end;
    margin-bottom: 15px;
}

.custom-submit-button {
    font-size: 18px;
    font-weight: 700;
    padding: 6px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.custom-contact-ways {
    text-align: center;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.custom-contact-social-icons {
    display: flex;
    justify-content: space-around;
}

.custom-contact-icon {
    font-size: 28px;
    margin-bottom: 10px;
}

.custom-footer-info-content {
    padding: 10px 16px;
    background-color: #000000;
}

.custom-footer-lists-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.custom-footer-about {
    margin: 10px;
}

.custom-footer-about h3 {
    margin-bottom: 10px;
}

.custom-about-list {
    list-style-type: disc;
    padding-left: 2.5em;
}

.custom-about-list li {
    margin-bottom: 5px; 
}

@media (max-width: 768px) {
    .custom-footer-contact-content {
        flex-direction: column;
        align-items: center;
        padding: 20px 5px;
    }

    .custom-contact-form {
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .custom-name-email-group,
    .custom-message-container {
        width: 100%;
        margin-right: 0;
    }

    .custom-message-container {
        margin-bottom: 10px;
    }

    .custom-submit-contact-container {
        align-self: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .custom-contact-ways {
        width: 100%;
        margin-bottom: 20px;
    }

    .custom-footer-lists-container {
        flex-direction: column;
        align-items: center;
    }

    .custom-footer-about {
        margin: 20px 0;
        width: 80%;
    }

    .custom-about-list {
        padding-left: 1.5em;
    }

    .custom-textarea {
        padding: 0;
    }
    
}

@media (max-width: 480px) {
    .custom-footer-contact-content {
        padding: 15px 5px;
    }

    .custom-contact-form {
        width: 100%;
    }

    .custom-name-email-group,
    .custom-message-container {
        margin-bottom: 10px;
    }

    .custom-message-container {
        margin-bottom: 15px;
    }

    .custom-submit-button {
        font-size: 16px;
        padding: 5px 15px;
    }

    .custom-contact-ways {
        margin-bottom: 15px;
    }

    .custom-footer-about {
        width: 90%;
    }

    .custom-about-list {
        padding-left: 1em;
    }
}
